extends template.pug

block content
	div.row
		div.col-md-12#DataTableContainer

		
block scripts
	script(type='text/babel', src='../react/shipping.js')
	script(type='text/javascript', src='../scripts/shipping.js')