extends template.pug

block content
	div.row
		div.col-md-6#DataTableContainer

		
block scripts
	script(type='text/babel', src='../react/reporting.js')
	script(type='text/javascript', src='../scripts/reporting.js')