extends template.pug

block content
	div.row
		div.col-md-6#DataTableContainer

		
block scripts
	script(type='text/babel', src='../react/messaging.js')
	script(type='text/javascript', src='../scripts/messaging.js')